// // colors
//text
$blue: rgb(25, 162, 140);
$orange: rgb(239, 81, 63);
$darkerblue: darken($blue, 20%);
$darkerorange: darken($orange, 20%);

//background
$lightblack: rgba(0, 0, 0, .7);
$opaqueBlack: rgba(0, 0, 0, .9);

// // font-family
$raleway: 'Raleway', sans-serif;
$crete: 'Crete Round', serif;

// // font-sizes
//phone-size
$phone-small: 10px;
$phone-medium: 13px;
$phone-large: 15px;


//small-screen 768px
$sScreen-small: 18px;
$sScreen-medium: 22px;
$sScreen-large: 28px;


//large-screen > 1200px
$lScreen-small: 23px;
$lScreen-medium: 26px;
$lScreen-large: 32px;
$lScreen-xl: 38px;



// Boiler plate CSS
//---------------//

body {
  text-align: center;
  color: $blue;
  background-image: url('./photos/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    p {
      font-size: $phone-small;
    }
}
img {
  display: flex;
  align-self: flex-start;
  width: 50px;
  margin: 10px;
  display: inline-block;
}
.header {
  text-align: center;
  font-family: $crete;
  .headerText {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    color: $orange;
    font-size: $phone-large;
  }
}

.App {
  font-family: $raleway;
}


.nav {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0px;
  background-color: $lightblack;
  display: flex;
  justify-content: center;
  font-family: $crete;

  li {
    display: inline;
    margin: 8px 15px;
  }
  a {
    font-size: $phone-small;
    color: $orange;
    text-decoration: none;
    display: inline;
    border-radius: 5px;
    padding: 5px 5px 3px 5px;
    &:hover {
      color: $darkerorange;
      background-color: $blue;
    }
  }
  .active {
    color: $orange;
    background-color: $darkerblue
  }
}

// Components
//-----------//

.content {
  width: 95%;
  margin: 20px auto;
  padding-bottom: 20px;
  background-color: $lightblack;
  border-radius: 10px;
}

.homeTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
      font-size: $phone-large;
  }
}

.bio {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 25px;
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 3px solid $darkerorange;

  p {
    width: 75%;
    line-height: 20px;
  }
}

.bioPictures {
  display: flex;
  justify-content: center;
  width: 35%;
  img {
    width: 90%;
    margin: 0px;
  }
}

.skillsContainer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.skills {
  width: 33%;
  margin-bottom: 5px;
  h3 {
    font-size: $phone-medium;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    line-height: 10px;
  }
  li {
    list-style: none;
    font-size: $phone-small;
    padding: 5px;
  }
}



.projectsPage {
  padding-top: 5px;
  h1 {
    font-size: $phone-large;
  }
}

.project {
	width: 85%;
	height: 200px;
  background-position: center;
  background-size: cover;
	display: block;
	margin: 15px auto;
  border: 1px solid white;

  .hidden{
    visibility: hidden;
  }

  .projectContent {
    background-color: $opaqueBlack;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      width: 98%;
    }
    h3 {
      font-size: $phone-large;
    }
  }

  .codeLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    a {
      padding: 5px;
      margin: 5px;
      text-decoration: none;
      color: $orange;
      background-color: $darkerblue;
      border-radius: 5px;
      font-size: $phone-small;
    }
  }

  h3 {
    font-size: $phone-medium;
    margin-top: 10px;
  }
  p {
    font-size: $phone-small;
  }

}

.resume {
  display: flex;
  img {
  width: 88%;
  padding: 15px 0px;
  align-self: center;
  }

  .resumeDownloads {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    width: 115px;
    font-size: $phone-large;
    text-decoration: none;
    color: $orange;
    background-color: $darkerblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: $phone-large;
  }
  .socials {
    display: flex;
    height: inherit;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  i {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: $darkerorange;
    border-radius: 10px;
  }
  a {
    font-size: $phone-medium;
    color: $blue;
    text-decoration: none;
    margin: 10px;
  }
  p {
    font-size: $phone-medium;
    margin: 10px;
  }

}

// Individual Projects
//------------------//

#manifestSocial {
  background-image: url('./photos/manifest-social.jpg')
}
#dateNight {
  background-image: url('./photos/date-night.jpg');
}
#fakebook {
  background-image: url('./photos/fakebook.jpg');
}
#dashProjects {
  background-image: url('./photos/dash-projects.jpg');
}

#beerTraveler {
  background-image: url('./photos/beerTraveler2.jpg');
  height: 250px;
}

// responsiveness
//-------------//

@media (min-width: 768px) {

  body {
    p {
      font-size: $sScreen-small;
    }
  }

  .header {
    h1 {
      font-size: $sScreen-large;
    }
    h2 {
      font-size: $sScreen-medium;
    }
  }

  .nav a {
    font-size: $sScreen-small;
  }


  .content {
    padding-top: 20px;
  }

  .homeTextContainer h2 {
    font-size: $sScreen-large;
  }

  .bio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .bioPictures {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
    p {
      width: 45%;
      line-height: 25px;
    }
  }

  .skills {
    h3 {
      font-size: $sScreen-medium;
    }
    li {
      font-size: $sScreen-small;
      line-height: 20px;
    }
  }

  .projectsPage h1{
    font-size: $sScreen-large;
  }

  .project {
    height: 400px;
    margin: 30px auto;
    .projectContent {
      h3 {
        font-size: $sScreen-large;
      }
      p {
        font-size: $sScreen-small;
      }
    }
    .codeLinks a {
      font-size: $sScreen-medium;
    }
  }
  #beerTraveler {
    height: 400px;
  }

  .resume a {
    font-size: $sScreen-small;
    width: 150px;
  }

  .contact {
    h2 {
      font-size: $sScreen-large;
    }
    i {
      font-size: 40px;
    }
    a,p {
      font-size: $sScreen-medium;
    }
  }
}


@media (min-width: 1200px) {

  body {
    p {
      font-size: $lScreen-small;
    }
  }

  .header {
    h1 {
      font-size: $lScreen-xl;
    }
    h2 {
      font-size: $lScreen-large;
    }
  }

  .nav a {
    font-size: $lScreen-small;
  }

  .homeTextContainer h2 {
    font-size: $lScreen-large;
  }

  .bio {
    p {
      line-height: 35px;
    }
    img {
      width: 70%;
    }
  }


  .skills {
    h3 {
      font-size: $lScreen-medium;
    }
    li {
      font-size: $lScreen-small;
      line-height: 30px;
    }
  }

  .projectsPage h1{
    font-size: $lScreen-large;
  }

  .project {
    height: 500px;
    .projectContent {
      h3 {
        font-size: $lScreen-medium;
      }
      p {
        font-size: $lScreen-small;
      }
    }
    .codeLinks a {
      font-size: $lScreen-small;
    }
  }
  #beerTraveler {
    height: 550px;
  }

  .resume a {
    width: 175px;
    font-size: $lScreen-small;
  }

  .contact {
    h2 {
      font-size: $lScreen-large;
    }
    i {
      font-size: 50px;
      margin: 10px;
    }
    a,p {
      font-size: $lScreen-medium;
    }
  }
}
