body {
  text-align: center;
  color: #19a28c;
  background-image: url("./photos/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  body p {
    font-size: 24px; }

img {
  display: flex;
  align-self: flex-start;
  width: 130px;
  margin: 10px;
  display: inline-block; }

.header {
  text-align: center;
  font-family: "Crete Round", serif; }
  .header .headerText {
    display: flex;
    flex-direction: column; }
  .header h1 {
    font-size: 40px; }
  .header h2 {
    color: #ef513f;
    font-size: 27px; }

.App {
  font-family: "Raleway", sans-serif; }

.nav {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  font-family: "Crete Round", serif; }
  .nav li {
    display: inline;
    margin: 8px 15px; }
  .nav a {
    font-size: 22px;
    color: #ef513f;
    text-decoration: none;
    display: inline;
    border-radius: 5px;
    padding: 5px 5px 3px 5px; }
    .nav a:hover {
      color: #b9210f;
      background-color: #19a28c; }
  .nav .active {
    color: #ef513f;
    background-color: #0b4a40; }

.content {
  width: 80%;
  margin: 40px auto;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px; }
  .content .homeTextContainer {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .content .homeTextContainer .bio {
      display: flex;
      margin-top: 30px;
      padding-bottom: 20px;
      justify-content: space-around;
      border-bottom: 3px solid #b9210f; }
    .content .homeTextContainer .bio p {
      width: 50%;
      display: flex;
      align-self: center;
      line-height: 35px; }
    .content .homeTextContainer .bioPictures {
      display: flex;
      flex-direction: column;
      width: 35%; }
      .content .homeTextContainer .bioPictures img {
        width: 90%;
        margin: 0px; }
    .content .homeTextContainer .skillsContainer {
      display: flex;
      justify-content: space-around; }
    .content .homeTextContainer .skills {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 5px; }
      .content .homeTextContainer .skills h3 {
        font-size: 25px; }
      .content .homeTextContainer .skills ul {
        display: flex;
        flex-direction: column;
        line-height: 30px; }
      .content .homeTextContainer .skills li {
        list-style: none;
        font-size: 24px;
        padding: 5px; }
    .content .homeTextContainer p {
      width: 44%;
      line-height: 35px; }
    .content .homeTextContainer img {
      width: 25%; }
    .content .homeTextContainer h2 {
      font-size: 35px; }

.projectsPage {
  padding-top: 5px; }

.project {
  width: 90%;
  height: 450px;
  background-position: center;
  background-size: cover;
  display: block;
  margin: 35px auto;
  border: 1px solid white; }
  .project .hidden {
    visibility: hidden; }
  .project .projectContent {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .project .projectContent p {
      width: 98%; }
  .project .codeLinks {
    display: flex;
    justify-content: center; }
    .project .codeLinks a {
      padding: 10px;
      margin: 5px;
      text-decoration: none;
      color: #ef513f;
      background-color: #0b4a40;
      border-radius: 5px; }
  .project h3 {
    font-size: 30px; }
  .project p {
    font-size: 22px; }

.resume {
  display: flex; }
  .resume img {
    width: 88%;
    padding: 20px 0px;
    align-self: center; }
  .resume a {
    width: 10%;
    text-decoration: none;
    color: #ef513f;
    background-color: #0b4a40;
    padding: 10px;
    border-radius: 5px;
    margin: 5px; }

.contact {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact .socials {
    display: flex;
    height: inherit; }
  .contact ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .contact i {
    font-size: 40px;
    padding: 10px;
    background-color: #b9210f;
    border-radius: 10px; }
  .contact a {
    font-size: 22px;
    color: #19a28c;
    text-decoration: none;
    margin: 20px; }
  .contact p {
    font-size: 22px; }

#manifestSocial {
  background-image: url("./photos/manifest-social.jpg"); }

#dateNight {
  background-image: url("./photos/date-night.jpg"); }

#fakebook {
  background-image: url("./photos/fakebook.jpg"); }

#dashProjects {
  background-image: url("./photos/dash-projects.jpg"); }

#beerTraveler {
  background-image: url("./photos/beerTraveler2.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat; }
  #beerTraveler p {
    font-size: 21px; }

@media (max-width: 1024px) {
  body {
    font-size: 18px; }
    body .header {
      font-size: 18px; }
  .content {
    width: 90%; }
    .content .bio img {
      padding-top: 3%; } }
